<!DOCTYPE html>
<html lang="en">


<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="static\css\home.css">
</head>


<body>
    <a href="/signup_enduser"> User SignUp</a>



    <h1> HELLO ALL</h1>
    <p> In this HTML tutorial, you will find more than 200 examples. With our online "Try it Yourself" editor, you can edit and test each example yourself!</p>

    <form>
        <input type="text" placeholder="Enter Text">
        <input type="email" placeholder="Enter Email">
        <input type="password" placeholder="Enter Password">
        <input type="submit">
    </form>
    
    <a href="https://www.w3schools.com/html/default.asp"> Demo Link</a>

    <img src="https://th.bing.com/th?id=OSK.HEROP2jglqu0MdC5-xO-bjZc8jMKDK42l08GIxNwIEcqi7I&w=312&h=200&c=15&rs=2&o=6&oif=webp&dpr=1.3&pid=SANGAM" alt="dog image">
    
    <img src="static\images\AvatarMaker (1).png">


</body>


</html>