<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Page3</title>
</head>
<body>
    <a href="/"> Home</a>

    <h1>Artust signup ....</h1>
    <form action="/artist_signup" method="post">
       
        <input type ="text" name = "username" placeholder="Enter Artist name" required>
        <input type="email" name="Email" placeholder="Enter Email" required>
        <input type="password" name="Password" placeholder="Enter Password" required>
        <input type="submit">
    </form>
   

   
</body>
</html>