<!DOCTYPE html>
<html lang="en">


<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="static\css\home.css">
</head>


<body>
    <a href="/signup_enduser"> User SignUp</a>
    <a href="/artist_signup"> Artist SignUp</a>



    <h1> Login...</h1>
   
    <form action="/", method="post">
        <input type="email" name="Email" placeholder="Enter Email">
        <input type="password" name="Password" placeholder="Enter Password">
        <input type="submit">
    </form>
    
    

</body>


</html>