<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Page3</title>
</head>
<body>
    <a href="/"> Home</a>
   
   

    <h3>Please Enter Your Details</h3>


    <form action="/signup_enduser" method="post">
        <input type ="text" name = "type" value="enduser" hidden>
        <input type ="text" name = "username" placeholder="Enter Username">
        <input type="email" name="Email" placeholder="Enter Email">
        <input type="password" name="Password" placeholder="Enter Password">
        <input type="submit">
    </form>
</body>
</html>